<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход администратора</title>
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='admin.css') }}">
</head>
<body class="login-page">
    <h2>Вход администратора</h2>
    <form method="POST">
        <label>Логин:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Пароль:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Войти</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="errors">
            {% for msg in messages %}
                <li>{{ msg }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
